.card {
  background-color: #ffeef2;
  width: 105px;
  height: 147px;
  border-radius: 6.7px;
  box-shadow: 2.2px 2.2px 6.7px #0000004e;
  margin-left: 1px;
}

.card img {
  width: 100%;
  height: 72.8px;
  border-top-left-radius: 6.7px;
  border-top-right-radius: 6.7px;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8px;
  height: 50%;
}

.card h1 {
  font-size: 0.68rem; 
  text-align: center;
  margin-left: 1.5px;
  margin-right: 1.5px;
}

.card h2 {
  font-size: 0.69rem;
  color: #aaaaaa;
}

.card button {
  background-color: #FF9CBD;
  height: 19px;
  border: none;
  padding: 3px;
  width: 100%;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 5px;
}