

.footer {
    background-color: #FF9CBD ;
    color: #fff;
    margin-top: 30px;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
margin: 0.1em;
}

.social_list li:hover {
    color:#84314D;
}